# Maven
target/
!target/visuasset.jar
.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Database
.db/
db-data/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo