<header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarToggle" aria-controls="navbarToggle"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <a th:href="@{/}" class="navbar-brand">
                        visuasset
                    </a>
                    <ul class="navbar-nav nav-underline me-auto">
                        <li class="nav-item">
                            <a th:href="@{/yearly}" class="nav-link">
                                年別資産グラフ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/monthly}" class="nav-link">
                                月別資産グラフ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/portfolio}" class="nav-link">
                                資産ポートフォリオ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/goal-achievement}" class="nav-link">
                                目標達成率
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/simulation}" class="nav-link">
                                資産推移シミュレート
                            </a>
                        </li>
                    </ul>
                    <button id="dark-mode-toggle" class="btn btn-outline-secondary ms-auto" type="button" 
                            aria-label="ダークモード切替" title="ダークモード切替">
                        🌙
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <!-- 共通スクリプト -->
    <div th:fragment="common-scripts">
        <script th:src="@{/js/dark-mode.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous">
        </script>
    </div>
